.form-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-cont {
    /* background-color: red; */
    padding: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.form-input > input {
    border: none;
    border-bottom: 5px solid black;
    font-size: 4vw;
    font-family: 'Raleway';
    width: 100%;
}

.form-input > input:focus {
    outline: none;
}

.form-submit {
    border: 5px solid black;
    height: 40%;
    width: 10%;
    margin-left: 10%;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    align-items: center;
}